<div class="container-fluid">
  <div class="row">
      <div class="col-sm-auto bg-light sticky-top">
          <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
              <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                  <i class="bi-bootstrap fs-1"></i>
              </a>
              <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                  <li class="nav-item">
                      <a routerLink="/dashboard" class="d-block p-3 link-dark text-decoration-none nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                          HOME
                      </a>
                  </li>
                  <li>
                      <a routerLink="/gestion-doc" class="d-block p-3 link-dark text-decoration-none nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                          Consulter les articles
                      </a>
                  </li>
                  <li>
                    <a routerLink="/creation-Document" class="d-block p-3 link-dark text-decoration-none nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        Ajouter un article
                    </a>
                </li>
                  <li>
                      <a routerLink="/gestion-ticket" data-bs-toggle="tooltip" data-bs-placement="right" >
                          Consulter les Tickets
                      </a>
                  </li>
                  <li>
                    <a routerLink="/creation-ticket" class="d-block p-3 link-dark text-decoration-none nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                        Créer les Tickets
                    </a>
                </li>
                  <li>
                      <a routerLink="/gestion-clt" class="d-block p-3 link-dark text-decoration-none nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                        Gérer les clients
                      </a>
                  </li>
                  <li>
                    <a routerLink="/gestion-expert" class="d-block p-3 link-dark text-decoration-none nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                      Gérer les experts
                    </a>
                </li>
                
                <li>
                  <a routerLink="/gestion-manager" class="d-block p-3 link-dark text-decoration-none nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                    Gérer les managers
                  </a>
              </li>
              
                  <li>
                      <a routerLink="/gestion-categorie" class="d-block p-3 link-dark text-decoration-none nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                          Consulter les categories
                      </a>
                  </li>
                  <li>
                    <a routerLink="/ajouter-categorie" class="d-block p-3 link-dark text-decoration-none nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                        Ajouter une categorie
                    </a>
                </li>
                <li>
                  <a routerLink="/gestion-offre" class="d-block p-3 link-dark text-decoration-none nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                      Consulter les services
                  </a>
              </li>
              <li>
                <a routerLink="/creation-offre" class="d-block p-3 link-dark text-decoration-none nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                    Ajouter un service
                </a>
            </li>
              </ul>
             
          </div>
      </div>
      <div class="col-sm p-3 min-vh-100">
          <!-- content -->
      </div>
  </div>
</div>